body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: Roboto;
}

div img {
    width: 150px;
    height: auto;
    border: 10px;
    border-color: blue;
}

.informations {
    display: flex;
    flex-direction: column;
}

.images-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
}

.right-links {
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-size:18px;
}

.upper-part{
    background-color:#1F2937;
    color:white;
    padding:10px;
}

.upper-part-lower-half{
    display:flex;
    justify-content: space-around;
    flex-direction:row;
}

.header{
    display:flex;
    justify-content: space-around;
    padding-bottom:30px;
}

.hero-main-text{
    font-size:48px;
    color:#F9FaF8;
    font-weight:900;
}
.hero-secondary-text{
    font-size:18px;
    color:#E5E7EB;
}

