body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: Roboto;
}

.item img {
    width: 150px;
    height: auto;
    border: 10px;
    border-color: blue;
}

.informations {
    display: flex;
    flex-direction: column;
}

.images-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: auto;
}

.right-links {
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: 10px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#E5E7EB;
    font-size:18px;
}

.upper-part{
    background-color:#1F2937;
    color:white;
    padding:40px 0;
}

.upper-part-lower-half{
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    flex-direction:row;
}

.header{
    display:flex;
    justify-content: space-between;
    padding-bottom:30px;
}

.hero-main-text{
    font-size:48px;
    color:#F9FaF8;
    font-weight:900;
}
.hero-secondary-text{
    font-size:18px;
    color:#E5E7EB;
    max-width:400px;
    line-height:1.5;
}

.upper-container{
    max-width:1100px;
    margin: 0 auto;
}

button{
    border-radius:10px;
    background-color:#3882F6;
    color:#F9FAF8;
    width:100px;
    padding:5px;
}
.hero.text{
    display:flex;
    flex-direction: column;
    gap: 16px;
    max-width:520px;
}

.hero.image{
flex-shrink: 0;
width:360px;
}

.hero.image img{
    width:100%;
    height:auto;
    display: block;
}